

/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/


/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/

@media (min-width: 1200px) and (max-width: 1342px) {
    .header_top {
        padding: 35px 70px;
    }
    .banner_text h1 {
        font-size: 61px;
    }
    .get_btn {
        max-width: 184px;
    }
    .body_img::before {
        left: 0;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    
    
    .header_top {
        padding-top: 2%;
        display: block;
        text-align: center;
    }
    .header_top img {
        height:10rem;
    }
    .get_btn {
        max-width: 141px;
    }
    .banner_text h1 {
        font-size: 48px;
        line-height: 66px;
    }
    .banner_text {
        margin-top: 12rem;
        
        display: block;
        text-align:center;
    }
    .body_img::before {
        left: 0;
    }

    .about_img figure img {
        max-width: 480px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .logo {
        text-align: center;
        padding-bottom: 100px;
        float: left;
    }
    
    .header_top {
        padding: 35px 70px;
    }
    .banner_text {
        margin-top: 45%;
    }
    .bann_img {
        height: 460px;
    }
    .banner_text h1 {
        font-size: 34px;
        line-height: 52px;
    }
    .get_btn {
        max-width: 105px;
        font-size: 12px;
        margin-top: 60%;
        padding: 8px 0;
        margin-right: 2px;
        height: 42px;
    }
    .growyhing .titlepage h2 {
        font-size: 38px;
        line-height: 59px;
        margin-bottom: 26px;
    }
    .relative2 span {
        padding-left: 1px;
    }
    .variat {
        padding-right: 0;
    }
    .body_img::before {
        left: 0;
    }
    .about {
        padding-left: 2em;
        padding-right:1em;
    }
    .about_img figure{
        display: block;
        text-align: center;
    }
    .about_img figure img {
        max-width: 380px;
    }
    .testimonial{     
        padding-left: 2em;
        padding-right:1em;
    }

}

@media (min-width: 576px) and (max-width: 767px) {
    .header_top {
        padding: 35px 70px;
    }
    .banner_text {
        margin-top: 34%;
        margin-bottom: 0;
        max-width: 543px;
    }
    .bann_img {
        height: 460px;
        padding-left: 62px;
    }
    .variat {
        padding-right: 0;
    }
    .body_img::before {
        left: 0;
    }
    .about_img {
        margin-top: 30px;
    }
    .body_blu_img {
        max-width: inherit;
        padding-bottom: 30px;
    }
    .growyhing .titlepage h2 {
        font-size: 54px;
        line-height: 84px;
        margin-top: 30px;
    }
    ul.conta {
        display: block !important;
    }
    ul.link_menu {
        margin-bottom: 20px;
    }
    .variat {
        padding-bottom: 20px;
    }
    ul.conta li {
        display: block;
    }
    .body_blu_img {
        margin-bottom: 30px;
    }
    .about {
        padding-left: 2em;
        padding-right:1em;
    }
    .about_img figure{
        display: block;
        text-align: center;
    }
    .about_img figure img {
        max-width: 100%;
    }
    
    .testimonial{     
        padding-left: 2em;
        padding-right:1em;
        display: flex;
        justify-content:center;
        align-items: center;
    }
    .body_blu_img {
        max-width: 100%;
        float: center;
        text-align: center;
        width: 100%;
    }
    .col-sm-3{
        padding-top: 80px;
        display: flex;
        justify-content:center;
        align-items: center;
    }
}

@media (max-width: 575px) {
    .logo {
        text-align: center !important;
        float: left;
    }
    .header_top {
        padding: 35px 7px;
    }
    .banner_text {
        display: block;
        text-align: left;
        margin-top: 40%;
        margin-bottom: 10px;
    }
    .get_btn {
        max-width: 120px;
        font-size: 12px;
        margin-top: 20px;
        padding: 8px 0;
        height: 40px;
        margin-right: 0px;
    }
    .body_img::before {
        left: 0;
    }
    .titlepage h2 {
        font-size: 29px;
    }
    .growyhing .titlepage h2 {
        font-size: 27px;
        line-height: 39px;
        margin-top: 30px;
        margin-bottom: 26px;
    }
    .body_blu_img {
        margin-bottom: 30px;
    }
    .about_img {
        margin-top: 30px;
    }
    .relative2 span {
        padding-left: 0px;
    }
    .relative2 {
        padding: 0px 4px 0px 70px;
    }
    ul.link_menu {
        margin-bottom: 20px;
    }
    ul.conta,
    ul.conta li {
        display: block !important;
    }
    .variat {
        padding-bottom: 20px;
    }
    .about {
    padding-left: 2em;
    padding-right:1em;
    }
    .about_img figure{
        display: block;
        text-align: center;
    }
    .about_img figure img {
        width: 100%;
    }
    .testimonial{     
        padding-left: 2em;
        padding-right:1em;
    }
